body {
    margin: 0;
    border: 0;
    padding: 0;
}

#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer{
    background: rgb(230, 230, 230);
    border-radius: 0 0 20px 20px;
}

.map-container footer p{
    color: #29d191;
    font-weight: 800;
}



