<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associação Lar Recanto do Carinho | Happy</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <link rel="icon" href="/images/logo-icon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page-orphanage.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <aside class="animate-right sidebar">
      <a href="/"><img src="/images/map-marker.svg" alt="Happy"></a>
      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow.svg" alt="Voltar">
        </button>
      </footer>
    </aside>
    <div id="page-orphanage">
     <main class="animate-appear with-sidebar">
       <div class="orphanage-details">
         <img src="/images/main.jpg" alt="lar das meninas">
         <div class="images">
           <button class="active" type="button">
             <img src="/images/image1.jpg" alt="lar das meninas">
           </button>
           <button type="button">
            <img src="/images/image2.jpg" alt="lar das meninas">
          </button>
          <button type="button">
            <img src="/images/image3.jpg" alt="lar das meninas">
          </button>
          <button type="button">
            <img src="/images/image4.jpg" alt="lar das meninas">
          </button>
          <button type="button">
            <img src="/images/image5.jpg" alt="lar das meninas">
          </button>
          <button type="button">
            <img src="/images/image6.jpg" alt="lar das meninas">
          </button>
         </div>
         <div class="orphanage-details-content">
          <h1>
            Associação Lar Recanto do Carinho
          </h1>
          <p>
            Abrigamos crianças e adolescentes de diversas idades, portadoras do vírus HIV ou doentes de AIDS, em situação de abandono, desestrutura familiar ou risco de morte.
          </p>
          <div class="map-container">
            <div id="mapid"></div>
            <footer>
              <a href="https://goo.gl/maps/dCmhAYt3oWwo3eBm8">Ver rotas no Google Maps</a>
            </footer>
          </div>
          <h2>Instruções para visita</h2>
          <p>Venha como se sentir a vontade e traga muito amor e paciência para dar.</p>
          <div class="open-details">
            <div class="hour">
              <img src="/images/clock.svg" alt="Horários">
              <p>Horário de visitas das 18h as 8h</p> 
            </div>
            <div class="open-on-weekends">
              <img src="/images/info.svg" alt="Informações">
              <p>Atendemos aos finais de semana</p> 
            </div>
          </div>
          <button onclick="location.href='https://api.whatsapp.com/send?phone=554832280024'" target="_blank" type="button" class="primary-button">
            <img src="/images/whatsapp.svg" alt="Chamar no whatsapp">
            Whatsapp
          </button>
         </div>
       </div>
     </main> 

    </div>
  
    <script src="/script/page-orphanage.js"></script>
  
  </body>
</html>